<h1>{{title}}</h1>
<main>
    <p>This site acts a search tool for api.tvmaze.com. Enter a keyword to search the TV Maze API.</p>
    <form action="/search" method="POST" class="new-search-form">
        <label for="searchTerm">Search Term:</label>
        <input type="text" name="searchTerm" id="searchTerm" class="full-width-input"/>
        <button type="submit">Submit</button>
    </form>
</main>